@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-medium;
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-semiBold;
  src: url(/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
  font-family: Quicksand-bold;
  src: url(/fonts/Quicksand/Quicksand-Bold.ttf);
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
}

body .gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#e8f1ff), to(#fafcff));
  background: linear-gradient(#e8f1ff, #fafcff);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

body .white {
  position: absolute;
  z-index: -1;
  top: 20%;
  left: 30%;
  background: white;
  width: 70%;
  height: 100%;
  -webkit-border-top-left-radius: 50%;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 71px;
  padding: 0 10%;
  z-index: 2;
  background: white;
}

nav ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul .logo {
  font-size: 22px;
  font-family: Quicksand-bold;
  color: #23231e;
}

nav ul li {
  font-size: 18px;
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat-medium;
  font-weight: 600;
}

nav ul li a {
  color: #30333c;
  display: block;
  text-align: center;
  padding: 0 13px;
  text-decoration: none;
}

.mainHeader {
  font-size: 50px;
  color: #30333c;
  font-family: Quicksand-bold;
  padding-left: 100px;
}

.mainShadow {
  -webkit-box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
          box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
  background: white;
}

content {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

content #start {
  height: 100%;
}

content #start .carrousel {
  padding: 0 45px;
}

content #start .carrousel .itemWindow {
  margin: 0 30px;
  float: left;
  width: 350px;
  height: 600px;
  -webkit-border-radius: 0 120px 30px 30px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
          box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
  background: white;
}

content #start .carrousel .itemWindow .image {
  height: 50%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

content #start .carrousel .itemWindow h2 {
  font-size: 24px;
  font-family: Montserrat-semiBold;
  color: #30333c;
  padding: 0 45px;
}

content #start .carrousel .itemWindow .text {
  overflow: hidden;
  height: 30%;
  padding: 0 45px;
}

content #start .carrousel .itemWindow .text p {
  font-size: 16px;
  font-family: Montserrat-medium;
  color: #70737c;
  line-height: 32px;
  text-overflow: ellipsis;
}

content #start .carrousel .itemWindow .arrow {
  float: right;
  margin-right: 45px;
  margin-bottom: 20px;
}

content #offer {
  margin: 50px 45px;
  -webkit-box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
          box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
  border-radius: 20px;
}

content #offer .filter {
  padding: 60px 10px;
  font-family: Quicksand-bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

content #offer .filter button {
  background-color: #a7c0e8;
  color: white;
  padding: 12px 0;
  width: 20%;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  outline: none;
  font-family: Quicksand-bold;
}

content #offer .filter .box select {
  background-color: #a7c0e8;
  color: white;
  padding: 12px;
  width: auto;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  outline: none;
  font-family: Quicksand-bold;
  text-align: center;
}

content #offer table {
  width: 100%;
  border-collapse: collapse;
}

content #offer table tbody tr {
  padding-left: 20px;
}

content #offer table tbody tr:nth-child(odd) {
  background: #F7FAFF;
}

content #offer table tr {
  text-align: left;
}

content #offer table tr th {
  font-size: 20px;
  font-family: Montserrat-semiBold;
  color: #30333c;
  width: calc(100% / 6);
  padding: 20px 20px;
}

content #offer table tr td {
  font-size: 20px;
  color: #70737c;
  font-family: Montserrat-medium;
  padding: 20px 25px;
}

content #news .square-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

content #news .square {
  position: relative;
  -ms-flex-preferred-size: calc(33.333% - 10px);
      flex-basis: calc(33.333% - 10px);
  margin: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

content #news .square .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

content #news .square .content img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 100%;
  min-width: 100%;
}

content #news .square .text {
  position: absolute;
  height: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-family: Quicksand;
  font-size: 16px;
  padding: 0 60px 0 20px;
}

content #news .square::after {
  content: '';
  display: block;
  padding-top: 100%;
}

content #news #newsContent {
  padding: 60px 90px;
  margin-bottom: 70px;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

content #contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

content #contacts .people {
  height: 100%;
}

content #contacts form {
  display: -ms-grid;
  display: grid;
  justify-items: left;
  padding: 0 40px;
  grid-row-gap: 15px;
}

content #contacts form h1 {
  font-family: Quicksand-bold;
  font-size: 50px;
  color: #6f88b1;
}

content #contacts form input {
  font-size: 20px;
  font-family: Montserrat-medium;
  padding: 10px 10px 10px 0;
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

content #contacts form input:focus {
  border-bottom: 1px solid gray;
}

content #contacts form label {
  font-size: 18px;
  font-family: Montserrat-medium;
}

content #contacts form label input {
  border: 1px solid #6f88b1;
  width: 0;
}

content #contacts form button {
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-family: Quicksand-bold;
  color: white;
  border: none;
  background: #d9dbe2;
  width: 200px;
}
/*# sourceMappingURL=style.css.map */