@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-medium;
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-semiBold;
  src: url(/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
  font-family: Quicksand-bold;
  src: url(/fonts/Quicksand/Quicksand-Bold.ttf);
}

html,
body {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

body .gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#e8f1ff), to(#fafcff));
  background: linear-gradient(#e8f1ff, #fafcff);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

body .white {
  position: absolute;
  z-index: -1;
  top: 20%;
  left: 30%;
  background: white;
  width: 70%;
  height: 100%;
  -webkit-border-top-left-radius: 50%;
}

@media screen and (max-width: 921px) {
  nav {
    position: relative;
    height: 50px;
  }
  nav .displayItem {
    display: block !important;
    padding: 0;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-animation: openMenu 0.3s forwards;
            animation: openMenu 0.3s forwards;
    overflow: hidden;
  }
  @-webkit-keyframes openMenu {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 200px;
    }
  }
  @keyframes openMenu {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 200px;
    }
  }
  nav #navbar-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: right;
    height: 100%;
  }
  nav .logo {
    font-size: 16px;
  }
  nav ul {
    display: none;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    background: white;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  nav ul li {
    font-size: 18px;
    padding: 10px;
  }
  .mainHeader {
    font-size: 30px;
    text-align: center;
  }
  content #start {
    clear: both;
    width: 100%;
    position: relative;
  }
  content #start #previous {
    display: none;
  }
  content #start #next {
    display: none;
  }
  content #start .carrousel .itemWindow {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 25px;
  }
  content #start .carrousel .itemWindow .image {
    height: 50%;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  content #start .carrousel .itemWindow h2 {
    font-size: 24px;
    font-family: Montserrat-semiBold;
    color: #30333c;
    padding: 0 45px;
  }
  content #offer {
    margin: 50px 0;
  }
  content #offer .filter {
    padding: 60px 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    width: 100%;
  }
  content #offer .filter button {
    font-size: 16px;
    padding: 12px 0;
    width: 100%;
  }
  content #offer .table {
    overflow-x: auto;
  }
  content #offer table tbody tr {
    padding-left: 20px;
  }
  content #offer table tbody tr:nth-child(odd) {
    background: #f7faff;
  }
  content #offer table tr {
    text-align: left;
  }
  content #offer table tr th {
    font-size: 16px;
    width: 150px;
    padding: 20px 20px;
  }
  content #offer table tr td {
    font-size: 14px;
    padding: 20px 25px;
  }
  content #news .square-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  content #news .square {
    position: relative;
    -ms-flex-preferred-size: calc(33.333% - 10px);
        flex-basis: calc(33.333% - 10px);
    margin: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  content #news .square .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  content #news .square .content a {
    height: 100%;
    width: 100%;
  }
  content #news .square .content img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-height: 100%;
    min-width: 100%;
  }
  content #news .square .text {
    font-size: 10px;
    padding: 0 10px 0 20px;
    white-space: nowrap;
  }
  content #news .square .text h2 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  content #news .square::after {
    content: "";
    display: block;
    padding-top: 100%;
  }
  content #news #newsContent {
    padding: 10px;
    margin-bottom: 70px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  content #contacts .people {
    margin: auto;
    padding: 40px 10px;
  }
  content #contacts .people .userCard {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 25px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 4fr 1fr 1fr 1fr;
        grid-template-rows: 4fr 1fr 1fr 1fr;
        grid-template-areas: "image image image" "name name name" "email email email" "phone phone phone";
    grid-column-gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  content #contacts .people .userCard .image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: image;
    margin: auto;
  }
  content #contacts .people .userCard h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 922px) {
  nav {
    position: -webkit-sticky;
    position: sticky;
    height: 71px;
  }
  nav #navbar-toggle {
    display: none;
  }
  nav .logo {
    font-size: 22px;
  }
  nav ul {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav ul li {
    height: 100%;
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
  }
  nav ul li a {
    color: #30333c;
    display: block;
    text-align: center;
    padding: 0 13px;
    text-decoration: none;
  }
  .mainHeader {
    font-size: 50px;
    padding-left: 100px;
  }
  .mainShadow {
    -webkit-box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
            box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
    background: white;
  }
  content #start {
    clear: both;
    width: 100%;
    position: relative;
  }
  content #start #previous {
    left: 20px;
    top: 50%;
  }
  content #start #next {
    right: 20px;
    top: 50%;
  }
  content #start button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    background: #a7c0e8;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
  }
  content #start .carrousel {
    overflow-x: hidden;
    padding: 5% 45px;
    clear: both;
    white-space: nowrap;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  content #start .carrousel .itemWindow {
    display: inline-block;
    white-space: normal;
    margin: 0 30px;
    width: 350px;
    height: 600px;
    -webkit-border-radius: 0 120px 30px 30px;
  }
  content #offer {
    margin: 50px 45px;
  }
  content #offer .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  content #offer .filter button {
    font-size: 20px;
    padding: 12px 0;
    width: 20%;
  }
  content #offer table tr {
    text-align: left;
  }
  content #offer table tr th {
    font-size: 20px;
    width: calc(100% / 6);
    padding: 20px 20px;
  }
  content #offer table tr td {
    font-size: 20px;
    padding: 20px 25px;
  }
  content #news .square-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  content #news .square {
    position: relative;
    -ms-flex-preferred-size: calc(33.333% - 10px);
        flex-basis: calc(33.333% - 10px);
    margin: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  content #news .square .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  content #news .square .content a {
    height: 100%;
    width: 100%;
  }
  content #news .square .content img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-height: 100%;
    min-width: 100%;
  }
  content #news .square .text {
    font-size: 16px;
    padding: 0 60px 0 20px;
  }
  content #news .square::after {
    content: "";
    display: block;
    padding-top: 100%;
  }
  content #news #newsContent {
    padding: 60px 90px;
    margin-bottom: 70px;
    background: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
  content #contacts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
  content #contacts .people {
    margin: auto;
    height: 100%;
    padding-top: 40px;
    position: relative;
  }
  content #contacts .people .userCard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "image . ." "image name name" "image email email" "image phone phone" "image . .";
    grid-column-gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  content #contacts .people .userCard h2 {
    font-size: 26px;
  }
  footer {
    height: 150px;
    background: #30333C;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 0 60px;
  }
  footer h3 {
    font-size: 26px;
    color: white;
    font-family: Quicksand-bold;
    margin: 10px 0;
  }
  footer p {
    font-size: 18px;
    color: white;
    font-family: Montserrat-medium;
    margin: 5px 0;
  }
  footer i {
    font-size: 26px;
    margin: 15px;
  }
  footer .wrapper:nth-child(3) {
    text-align: center;
    -ms-grid-column: 4;
    grid-column: 4;
    display: table-cell;
  }
}

@media screen and (max-width: 921px) {
  footer {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 20px 60px;
  }
  footer h3 {
    font-size: 16px;
  }
  footer p {
    font-size: 14px;
    color: white;
    font-family: Montserrat-medium;
    margin: 5px 0;
  }
  footer i {
    font-size: 26px;
    margin-right: 20px;
    margin-top: 10px;
    color: white;
  }
  footer .wrapper:nth-child(3) {
    text-align: center;
    -ms-grid-column: 3;
    grid-column: 3;
    display: table-cell;
  }
}

nav {
  top: 0;
  left: 0;
  padding: 0 10%;
  z-index: 2;
  background: white;
}

nav .logo {
  font-family: Quicksand-bold;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo a {
  text-decoration: none;
  color: #23231e;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  font-family: Montserrat-medium;
  font-weight: 600;
}

nav ul li a {
  color: #30333c;
  display: block;
  text-align: center;
  padding: 0 13px;
  text-decoration: none;
}

.mainHeader {
  color: #30333c;
  font-family: Quicksand-bold;
}

.mainShadow {
  -webkit-box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
          box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
  background: white;
}

content #start {
  clear: both;
  width: 100%;
  position: relative;
}

content #start #previous {
  left: 20px;
  top: 50%;
}

content #start #next {
  right: 20px;
  top: 50%;
}

content #start button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background: #a7c0e8;
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: absolute;
}

content #start .carrousel .itemWindow {
  overflow: hidden;
  -webkit-box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
          box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
  background: white;
}

content #start .carrousel .itemWindow .image {
  height: 50%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

content #start .carrousel .itemWindow .image img {
  min-height: 100%;
  min-width: 100%;
}

content #start .carrousel .itemWindow h2 {
  font-size: 24px;
  font-family: Montserrat-semiBold;
  color: #30333c;
  padding: 0 45px;
}

content #start .carrousel .itemWindow .text {
  overflow: hidden;
  padding: 0 45px;
}

content #start .carrousel .itemWindow .text p {
  font-size: 16px;
  font-family: Montserrat-medium;
  color: #70737c;
  line-height: 32px;
  text-overflow: ellipsis;
}

content #start .carrousel .itemWindow .arrow {
  float: right;
  margin-right: 45px;
  margin-bottom: 20px;
}

content #offer {
  -webkit-box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
          box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
  border-radius: 20px;
  clear: both;
  background: white;
}

content #offer .filter {
  font-family: Quicksand-bold;
}

content #offer .filter button {
  background-color: #a7c0e8;
  color: white;
  border: none;
  border-radius: 30px;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  outline: none;
  font-family: Quicksand-bold;
}

content #offer table {
  width: 100%;
  border-collapse: collapse;
}

content #offer table tbody tr {
  padding-left: 20px;
}

content #offer table tbody tr:nth-child(odd) {
  background: #f7faff;
}

content #offer table tr {
  text-align: left;
}

content #offer table tr th {
  font-family: Montserrat-semiBold;
  color: #30333c;
}

content #offer table tr td {
  color: #70737c;
  font-family: Montserrat-medium;
}

content #news .square-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

content #news .square {
  position: relative;
  -ms-flex-preferred-size: calc(33.333% - 10px);
      flex-basis: calc(33.333% - 10px);
  margin: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

content #news .square .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

content #news .square .content img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 100%;
  min-width: 100%;
}

content #news .square .text {
  position: absolute;
  height: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-family: Quicksand;
}

content #news .square::after {
  content: "";
  display: block;
  padding-top: 100%;
}

content #news #newsContent {
  background: white;
  display: -ms-grid;
  display: grid;
}

content #contacts .people {
  position: relative;
}

content #contacts .people .userCard .image {
  grid-area: image;
}

content #contacts .people .userCard .name {
  grid-area: name;
}

content #contacts .people .userCard .email {
  grid-area: email;
}

content #contacts .people .userCard .phone {
  grid-area: phone;
}

content #contacts .people .userCard h2 {
  font-family: Quicksand-bold;
  color: #6f88b1;
  margin: 0;
}

content #contacts .people .userCard p {
  font-family: Montserrat-medium;
  font-size: 18px;
  margin: 0;
  color: #70737c;
}

content #contacts .people .userCard .image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

content #contacts .people .userCard .image img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 100%;
  min-width: 100%;
}

content #contacts form {
  display: -ms-grid;
  display: grid;
  justify-items: left;
  padding: 0 40px;
  grid-row-gap: 15px;
}

content #contacts form h1 {
  font-family: Quicksand-bold;
  font-size: 50px;
  color: #6f88b1;
}

content #contacts form input {
  font-size: 20px;
  font-family: Montserrat-medium;
  padding: 10px 10px 10px 0;
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

content #contacts form input:focus {
  border-bottom: 1px solid gray;
}

content #contacts form label {
  font-size: 18px;
  font-family: Montserrat-medium;
}

content #contacts form label input {
  border: 1px solid #6f88b1;
  width: 0;
}

content #contacts form button {
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-family: Quicksand-bold;
  color: white;
  border: none;
  background: #d9dbe2;
  width: 200px;
  margin-bottom: 30px;
}

footer {
  background: #30333C;
}

footer h3 {
  color: white;
  font-family: Quicksand-bold;
  margin: 10px 0;
}

footer p {
  color: white;
  font-family: Montserrat-medium;
}

footer i {
  color: white;
}

footer .wrapper:nth-child(3) {
  display: table-cell;
}
/*# sourceMappingURL=style.css.map */